div {
  font-family:'Barlow Condensed';
}
.nav-link {
  font-family:'Barlow Condensed', sans-serif;
  color: #ffffff !important; /* color base */
  transition: color 0.3s ease, transform 0.3s ease;
}
.nav-link:hover {
  color: #f8c200 !important; /* color cuando pasa el mouse */
  transform: scale(1.05);
}
.naranja{
  font-family:'Barlow Condensed', sans-serif;
  color: #ffffff !important; /* color base */
  transition: color 0.3s ease, transform 0.3s ease;
}
.naranja:hover {
  color: #f8c200 !important; /* color cuando pasa el mouse */
  transform: scale(1.05);
}
.bg-img {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img-docs/franquisias.jpg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            height: 100vh;
            width: 100%;
        }

        @media (min-width: 768px) {
            .bg-img {
                height: 80vh;
                /* Solo la mitad de la pantalla */
            }
        }